body {
	padding:0;
	margin:0;
}
/* clearfix */
.cf:before,
.cf:after {
    content:" ";
    display:table;
}
.cf:after {
    clear:both;
}
.cf {
    *zoom:1;
}

/* instagram grid styles */
.insta-block {
	float:left;
	position:relative;
}
.insta-block-large {
	position:absolute;
	max-width:550px;
	height:auto;
	left:50%;
	top:50%;
	margin-top:-300px;
	margin-left:-275px;
	border:5px solid #fff;
}
@media (max-width:550px) {
	.insta-block-large {
		position:relative;
		display:block;
		width:90%;
		left:auto;
		right:auto;
		top:10px;
		margin:auto;
		border:1px solid #fff;
	}
}
.insta-img,
.insta-img-large {
	display:block;
	width:100%;
	height:auto;
}
.insta-img {
	float:left;
}
.insta-img-caption {
	display:block;
	padding:5px 0 0;
	background-color:#fff;
	font-size:.8em;
	font-family:arial, sans-serif;
	color:#555;
}
.insta-img.clickable {
	cursor:pointer;
}
.insta-img.clickable:hover {
	opacity:.9;
}
.insta-likes {
	font-family:arial, sans-serif;
	position:absolute;
	left:5px;
	bottom:5px;
	color:#fff;
	font-size:.8em;
	padding:3px 5px;
	background-color:rgba(0,0,0,.5);
	border-radius:3px;
	z-index: 1;
}
.insta-likes.hide-likes {
	opacity:0;
}
.insta-block:hover .insta-likes.hide-likes {
	opacity:1;
}
.insta-heart {
	width:10px;
	height:auto;
	margin-right:5px;
}
.instagram-cover {
	position:fixed;
	top:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,.8);
	z-index: 20;
}
.insta-block-large-close {
	position:absolute;
	right:5px;
	top:-10px;
	padding:0;
	margin:0;
	color:#fff;
	font-size:3em;
}
.insta-block-large-close:hover {
	cursor:pointer;
	opacity:.8;
}
